.container-fluid .col-12 {
    background-color: #00cdf1;
}
.card {
    background-color: #183d44;
    margin-left: 10px;
    margin-top: 20px;
}
.card-header{
    color: #fff;
  
}

.fas {
    color: #00cdf1;
}


