body{
    background-color: #b0e0e6;
}
.container-fluid .col-12 {
    background-color: #77d4d4;
 
}
.card {
    background-color: #183d44;
    margin-left: 6px;
    margin-top: 10px;
}
.card-header{
    color: #fff;
  
}

.fas {
    color: #00cdf1;
}
